fieldset {
  width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.status {
	float: left;
	margin-right: 5px;
	border-radius: 9px; /* one half of ( height + padding ) */
	box-shadow: 1px 1px 1px black;
	color: white;
	height: 14px;
	line-height: 1.1em;
	padding: 1px 4px 1px 4px;
	text-align: center;
}
.status.ko { background-color: red; }
.status.ok { background-color: green; }

.addToAlbum:before { /* Arrow */
	margin-top: -15px;
	float: left;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ddd transparent;
	margin-left: 25px;
}

.addToAlbum {
    margin-top:10px;
	padding:5px;
	background-color: #ddd;
	margin-bottom:5px;
}

.addToAlbum p {float:right;}
.addToAlbum p input {margin-top: 5px;}

.supprBut {
	position: absolute;
	top: 25px;
	left: 5px;
}

/****************************/
/*     jqueryFileTree       */
/****************************/

UL.jqueryFileTree {
	line-height: 1.5em;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

.file, .dirheader {
	color: #333;
	display: block;
	cursor: pointer;
}

.file:hover, .dirheader:hover{
	background-color: #BDF;
}

/* Core Styles */
.directory { background: url(images/directory.png) left top no-repeat; }
.expanded { background: url(images/folder_open.png) left top no-repeat; }
.file { background: url(images/file.png) left top no-repeat; }

/* File Extensions*/
.ext_3gp { background: url(images/film.png) left top no-repeat; }
.ext_afp { background: url(images/code.png) left top no-repeat; }
.ext_afpa { background: url(images/code.png) left top no-repeat; }
.ext_asp { background: url(images/code.png) left top no-repeat; }
.ext_aspx { background: url(images/code.png) left top no-repeat; }
.ext_avi { background: url(images/film.png) left top no-repeat; }
.ext_bat { background: url(images/application.png) left top no-repeat; }
.ext_bmp { background: url(images/picture.png) left top no-repeat; }
.ext_c { background: url(images/code.png) left top no-repeat; }
.ext_cfm { background: url(images/code.png) left top no-repeat; }
.ext_cgi { background: url(images/code.png) left top no-repeat; }
.ext_com { background: url(images/application.png) left top no-repeat; }
.ext_cpp { background: url(images/code.png) left top no-repeat; }
.ext_css { background: url(images/css.png) left top no-repeat; }
.ext_doc { background: url(images/doc.png) left top no-repeat; }
.ext_exe { background: url(images/application.png) left top no-repeat; }
.ext_gif { background: url(images/picture.png) left top no-repeat; }
.ext_fla { background: url(images/flash.png) left top no-repeat; }
.ext_h { background: url(images/code.png) left top no-repeat; }
.ext_htm { background: url(images/html.png) left top no-repeat; }
.ext_html { background: url(images/html.png) left top no-repeat; }
.ext_jar { background: url(images/java.png) left top no-repeat; }

.ext_jpg, .ext_JPG { background: url(images/picture.png) left top no-repeat; }
.present { background: url(images/picture_go.png) left top no-repeat; }
.double { background: url(images/picture_error.png) left top no-repeat; }
.missing { background: url(images/picture_delete.png) left top no-repeat; }
.ext_jpeg { background: url(images/picture.png) left top no-repeat; }

.ext_js { background: url(images/script.png) left top no-repeat; }
.ext_lasso { background: url(images/code.png) left top no-repeat; }
.ext_log { background: url(images/txt.png) left top no-repeat; }
.ext_m4p { background: url(images/music.png) left top no-repeat; }
.ext_mov { background: url(images/film.png) left top no-repeat; }
.ext_mp3 { background: url(images/music.png) left top no-repeat; }
.ext_mp4 { background: url(images/film.png) left top no-repeat; }
.ext_mpg { background: url(images/film.png) left top no-repeat; }
.ext_mpeg { background: url(images/film.png) left top no-repeat; }
.ext_ogg { background: url(images/music.png) left top no-repeat; }
.ext_pcx { background: url(images/picture.png) left top no-repeat; }
.ext_pdf { background: url(images/pdf.png) left top no-repeat; }
.ext_php { background: url(images/php.png) left top no-repeat; }
.ext_png { background: url(images/picture.png) left top no-repeat; }
.ext_ppt { background: url(images/ppt.png) left top no-repeat; }
.ext_psd { background: url(images/psd.png) left top no-repeat; }
.ext_pl { background: url(images/script.png) left top no-repeat; }
.ext_py { background: url(images/script.png) left top no-repeat; }
.ext_rb { background: url(images/ruby.png) left top no-repeat; }
.ext_rbx { background: url(images/ruby.png) left top no-repeat; }
.ext_rhtml { background: url(images/ruby.png) left top no-repeat; }
.ext_rpm { background: url(images/linux.png) left top no-repeat; }
.ext_ruby { background: url(images/ruby.png) left top no-repeat; }
.ext_sql { background: url(images/db.png) left top no-repeat; }
.ext_swf { background: url(images/flash.png) left top no-repeat; }
.ext_tif { background: url(images/picture.png) left top no-repeat; }
.ext_tiff { background: url(images/picture.png) left top no-repeat; }
.ext_txt { background: url(images/txt.png) left top no-repeat; }
.ext_vb { background: url(images/code.png) left top no-repeat; }
.ext_wav { background: url(images/music.png) left top no-repeat; }
.ext_wmv { background: url(images/film.png) left top no-repeat; }
.ext_xls { background: url(images/xls.png) left top no-repeat; }
.ext_xml { background: url(images/code.png) left top no-repeat; }
.ext_zip { background: url(images/zip.png) left top no-repeat; }

.wait { background: url(images/spinner.gif) left top no-repeat; }