fieldset#album p {float:right;}

iframe {border: 0px; width: 500px; max-height: 500px;}

#waitBrowser {position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; opacity:0.8;}

div#cheminFichier {margin-bottom: 8px;}

.loading {background: url('../../../../themes/default/images/ajax-loader-small.gif') no-repeat right top;}

.loadingBig {background: url('../../../../admin/themes/default/images/ajax-loader-bar.gif') no-repeat center center;}

#level {margin-top: 10px;}

fieldset#album, fieldset#progress {text-align: left;}

/* Thumbnail area */

#thumb {
  position:absolute;
  border: 1px solid #CDD2D6;
  background:#f8f9fa;
  display:none;
  padding:3px;
}

#thumb img {
  display:block;
}